In [0]:
data=['int','age']

In [0]:
emp_data = [(1,'manish',50000,'IT','m'),
(2,'vikash',60000,'sales','m'),
(3,'raushan',70000,'marketing','m'),
(4,'mukesh',80000,'IT','m'),
(5,'priti',90000,'sales','f'),
(6,'nikita',45000,'marketing','f'),
(7,'ragini',55000,'marketing','f'),
(8,'rashi',100000,'IT','f'),
(9,'aditya',65000,'IT','m'),
(10,'rahul',50000,'marketing','m'),
(11,'rakhi',50000,'IT','f'),
(12,'akhilesh',90000,'sales','m')]

In [0]:
emp_schema=['id','name','salary','dept','gender']

In [0]:
emp_df=spark.createDataFrame(data=emp_data,schema=emp_schema)

In [0]:
emp_df.show()

+---+--------+------+---------+------+
| id|    name|salary|     dept|gender|
+---+--------+------+---------+------+
|  1|  manish| 50000|       IT|     m|
|  2|  vikash| 60000|    sales|     m|
|  3| raushan| 70000|marketing|     m|
|  4|  mukesh| 80000|       IT|     m|
|  5|   priti| 90000|    sales|     f|
|  6|  nikita| 45000|marketing|     f|
|  7|  ragini| 55000|marketing|     f|
|  8|   rashi|100000|       IT|     f|
|  9|  aditya| 65000|       IT|     m|
| 10|   rahul| 50000|marketing|     m|
| 11|   rakhi| 50000|       IT|     f|
| 12|akhilesh| 90000|    sales|     m|
+---+--------+------+---------+------+

In [0]:
from pyspark.sql.functions import *
from pyspark.sql.types import *
from pyspark.sql.window import *

In [0]:
window=Window.partitionBy('dept')

In [0]:
emp_df.withColumn('total_salary',sum('salary').over(window)).show()

+---+--------+------+---------+------+------------+
| id|    name|salary|     dept|gender|total_salary|
+---+--------+------+---------+------+------------+
|  1|  manish| 50000|       IT|     m|      345000|
|  4|  mukesh| 80000|       IT|     m|      345000|
|  8|   rashi|100000|       IT|     f|      345000|
|  9|  aditya| 65000|       IT|     m|      345000|
| 11|   rakhi| 50000|       IT|     f|      345000|
|  3| raushan| 70000|marketing|     m|      220000|
|  6|  nikita| 45000|marketing|     f|      220000|
|  7|  ragini| 55000|marketing|     f|      220000|
| 10|   rahul| 50000|marketing|     m|      220000|
|  2|  vikash| 60000|    sales|     m|      240000|
|  5|   priti| 90000|    sales|     f|      240000|
| 12|akhilesh| 90000|    sales|     m|      240000|
+---+--------+------+---------+------+------------+

In [0]:
window=Window.partitionBy(col('dept'),col('gender')).orderBy('salary')

In [0]:
emp_df.withColumn('row_number',row_number().over(window)) \
      .withColumn('rank',rank().over(window)) \
      .withColumn('dense_rank',dense_rank().over(window)).show()

+---+--------+------+---------+------+----------+----+----------+
| id|    name|salary|     dept|gender|row_number|rank|dense_rank|
+---+--------+------+---------+------+----------+----+----------+
| 11|   rakhi| 50000|       IT|     f|         1|   1|         1|
|  8|   rashi|100000|       IT|     f|         2|   2|         2|
|  1|  manish| 50000|       IT|     m|         1|   1|         1|
|  9|  aditya| 65000|       IT|     m|         2|   2|         2|
|  4|  mukesh| 80000|       IT|     m|         3|   3|         3|
|  6|  nikita| 45000|marketing|     f|         1|   1|         1|
|  7|  ragini| 55000|marketing|     f|         2|   2|         2|
| 10|   rahul| 50000|marketing|     m|         1|   1|         1|
|  3| raushan| 70000|marketing|     m|         2|   2|         2|
|  5|   priti| 90000|    sales|     f|         1|   1|         1|
|  2|  vikash| 60000|    sales|     m|         1|   1|         1|
| 12|akhilesh| 90000|    sales|     m|         2|   2|         2|
+---+--------+------+---------+------+----------+----+----------+

In [0]:
product_data = [
(1,"iphone","01-01-2023",1500000),
(2,"samsung","01-01-2023",1100000),
(3,"oneplus","01-01-2023",1100000),
(1,"iphone","01-02-2023",1300000),
(2,"samsung","01-02-2023",1120000),
(3,"oneplus","01-02-2023",1120000),
(1,"iphone","01-03-2023",1600000),
(2,"samsung","01-03-2023",1080000),
(3,"oneplus","01-03-2023",1160000),
(1,"iphone","01-04-2023",1700000),
(2,"samsung","01-04-2023",1800000),
(3,"oneplus","01-04-2023",1170000),
(1,"iphone","01-05-2023",1200000),
(2,"samsung","01-05-2023",980000),
(3,"oneplus","01-05-2023",1175000),
(1,"iphone","01-06-2023",1100000),
(2,"samsung","01-06-2023",1100000),
(3,"oneplus","01-06-2023",1200000)
]

In [0]:
product_schema=['product_id','product_name','sales_date','sales']

In [0]:
product_df=spark.createDataFrame(data=product_data,schema=product_schema)

In [0]:
product_df.show(truncate=False)

+----------+------------+----------+-------+
|product_id|product_name|sales_date|sales  |
+----------+------------+----------+-------+
|1         |iphone      |01-01-2023|1500000|
|2         |samsung     |01-01-2023|1100000|
|3         |oneplus     |01-01-2023|1100000|
|1         |iphone      |01-02-2023|1300000|
|2         |samsung     |01-02-2023|1120000|
|3         |oneplus     |01-02-2023|1120000|
|1         |iphone      |01-03-2023|1600000|
|2         |samsung     |01-03-2023|1080000|
|3         |oneplus     |01-03-2023|1160000|
|1         |iphone      |01-04-2023|1700000|
|2         |samsung     |01-04-2023|1800000|
|3         |oneplus     |01-04-2023|1170000|
|1         |iphone      |01-05-2023|1200000|
|2         |samsung     |01-05-2023|980000 |
|3         |oneplus     |01-05-2023|1175000|
|1         |iphone      |01-06-2023|1100000|
|2         |samsung     |01-06-2023|1100000|
|3         |oneplus     |01-06-2023|1200000|
+----------+------------+----------+-------+

In [0]:
product_df.columns

Out[30]: ['product_id', 'product_name', 'sales_date', 'sales']

In [0]:
window=Window.partitionBy('product_name').orderBy(col('sales')).rowsBetween(Window.unboundedPreceding,Window.unboundedFollowing)

In [0]:
product_df.withColumn('total_sales',sum('sales').over(window))\
          .withColumn('aberage',expr ('sales/total_sales*100')).show()

+----------+------------+----------+-------+-----------+------------------+
|product_id|product_name|sales_date|  sales|total_sales|           aberage|
+----------+------------+----------+-------+-----------+------------------+
|         1|      iphone|01-01-2023|1500000|    8400000|17.857142857142858|
|         1|      iphone|01-02-2023|1300000|    8400000|15.476190476190476|
|         1|      iphone|01-03-2023|1600000|    8400000|19.047619047619047|
|         1|      iphone|01-04-2023|1700000|    8400000|20.238095238095237|
|         1|      iphone|01-05-2023|1200000|    8400000|14.285714285714285|
|         1|      iphone|01-06-2023|1100000|    8400000|13.095238095238097|
|         3|     oneplus|01-01-2023|1100000|    6925000|15.884476534296029|
|         3|     oneplus|01-02-2023|1120000|    6925000|16.173285198555956|
|         3|     oneplus|01-03-2023|1160000|    6925000|16.750902527075812|
|         3|     oneplus|01-04-2023|1170000|    6925000|16.895306859205775|
|         3|     oneplus|01-05-2023|1175000|    6925000|16.967509025270758|
|         3|     oneplus|01-06-2023|1200000|    6925000|17.328519855595665|
|         2|     samsung|01-01-2023|1100000|    7180000| 15.32033426183844|
|         2|     samsung|01-02-2023|1120000|    7180000|15.598885793871867|
|         2|     samsung|01-03-2023|1080000|    7180000|15.041782729805014|
|         2|     samsung|01-04-2023|1800000|    7180000|25.069637883008355|
|         2|     samsung|01-05-2023| 980000|    7180000|13.649025069637883|
|         2|     samsung|01-06-2023|1100000|    7180000| 15.32033426183844|
+----------+------------+----------+-------+-----------+------------------+

In [0]:
product_df=product_df.withColumn('previous_month_sales',lag(col('sales'),1).over(window))

In [0]:
product_df.show()

+----------+------------+----------+-------+--------------------+
|product_id|product_name|sales_date|  sales|previous_month_sales|
+----------+------------+----------+-------+--------------------+
|         1|      iphone|01-06-2023|1100000|                null|
|         1|      iphone|01-05-2023|1200000|             1100000|
|         1|      iphone|01-02-2023|1300000|             1200000|
|         1|      iphone|01-01-2023|1500000|             1300000|
|         1|      iphone|01-03-2023|1600000|             1500000|
|         1|      iphone|01-04-2023|1700000|             1600000|
|         3|     oneplus|01-01-2023|1100000|                null|
|         3|     oneplus|01-02-2023|1120000|             1100000|
|         3|     oneplus|01-03-2023|1160000|             1120000|
|         3|     oneplus|01-04-2023|1170000|             1160000|
|         3|     oneplus|01-05-2023|1175000|             1170000|
|         3|     oneplus|01-06-2023|1200000|             1175000|
|         2|     samsung|01-05-2023| 980000|                null|
|         2|     samsung|01-03-2023|1080000|              980000|
|         2|     samsung|01-01-2023|1100000|             1080000|
|         2|     samsung|01-06-2023|1100000|             1100000|
|         2|     samsung|01-02-2023|1120000|             1100000|
|         2|     samsung|01-04-2023|1800000|             1120000|
+----------+------------+----------+-------+--------------------+

In [0]:
product_df.withColumn('first',first('sales').over(window))\
          .withColumn('last',last('sales').over(window)).

+----------+------------+----------+-------+--------------------+-------+-------+
|product_id|product_name|sales_date|  sales|previous_month_sales|  first|   last|
+----------+------------+----------+-------+--------------------+-------+-------+
|         1|      iphone|01-06-2023|1100000|                null|1100000|1700000|
|         1|      iphone|01-05-2023|1200000|             1100000|1100000|1700000|
|         1|      iphone|01-02-2023|1300000|             1200000|1100000|1700000|
|         1|      iphone|01-01-2023|1500000|             1300000|1100000|1700000|
|         1|      iphone|01-03-2023|1600000|             1500000|1100000|1700000|
|         1|      iphone|01-04-2023|1700000|             1600000|1100000|1700000|
|         3|     oneplus|01-01-2023|1100000|                null|1100000|1200000|
|         3|     oneplus|01-02-2023|1120000|             1100000|1100000|1200000|
|         3|     oneplus|01-03-2023|1160000|             1120000|1100000|1200000|
|         3|     oneplus|01-04-2023|1170000|             1160000|1100000|1200000|
|         3|     oneplus|01-05-2023|1175000|             1170000|1100000|1200000|
|         3|     oneplus|01-06-2023|1200000|             1175000|1100000|1200000|
|         2|     samsung|01-05-2023| 980000|                null| 980000|1800000|
|         2|     samsung|01-03-2023|1080000|              980000| 980000|1800000|
|         2|     samsung|01-01-2023|1100000|             1080000| 980000|1800000|
|         2|     samsung|01-06-2023|1100000|             1100000| 980000|1800000|
|         2|     samsung|01-02-2023|1120000|             1100000| 980000|1800000|
|         2|     samsung|01-04-2023|1800000|             1120000| 980000|1800000|
+----------+------------+----------+-------+--------------------+-------+-------+

---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
File <command-1196896194685444>:1
----> 1 product_df.withColumn('first',first('sales').over(window))\
      2           .withColumn('last',last('sales').over(window)).show().distinct()

AttributeError: 'NoneType' object has no attribute 'distinct'

In [0]:
emp_data = [(1,"manish","11-07-2023","10:20"),
        (1,"manish","11-07-2023","11:20"),
        (2,"rajesh","11-07-2023","11:20"),
        (1,"manish","11-07-2023","11:50"),
        (2,"rajesh","11-07-2023","13:20"),
        (1,"manish","11-07-2023","19:20"),
        (2,"rajesh","11-07-2023","17:20"),
        (1,"manish","12-07-2023","10:32"),
        (1,"manish","12-07-2023","12:20"),
        (3,"vikash","12-07-2023","09:12"),
        (1,"manish","12-07-2023","16:23"),
        (3,"vikash","12-07-2023","18:08")]

emp_schema = ["id", "name", "date", "time"]
emp_df = spark.createDataFrame(data=emp_data, schema=emp_schema)

In [0]:
emp_df.show()

+---+------+----------+-----+
| id|  name|      date| time|
+---+------+----------+-----+
|  1|manish|11-07-2023|10:20|
|  1|manish|11-07-2023|11:20|
|  2|rajesh|11-07-2023|11:20|
|  1|manish|11-07-2023|11:50|
|  2|rajesh|11-07-2023|13:20|
|  1|manish|11-07-2023|19:20|
|  2|rajesh|11-07-2023|17:20|
|  1|manish|12-07-2023|10:32|
|  1|manish|12-07-2023|12:20|
|  3|vikash|12-07-2023|09:12|
|  1|manish|12-07-2023|16:23|
|  3|vikash|12-07-2023|18:08|
+---+------+----------+-----+

In [0]:
emp_df.withColumn('timestamp',from_unixtime(unix_timestamp(expr ('concat(date , '' ,time )'),'dd-MM-yy HH:mm')))

---------------------------------------------------------------------------
ParseException                            Traceback (most recent call last)
File <command-971835722471080>:1
----> 1 emp_df.withColumn('timestamp',from_unixtime(unix_timestamp(expr ('concat(date , '' ,time )'),'dd-MM-yy HH:mm')))

File /databricks/spark/python/pyspark/sql/utils.py:164, in try_remote_functions.<locals>.wrapped(*args, **kwargs)
    162     return getattr(functions, f.__name__)(*args, **kwargs)
    163 else:
--> 164     return f(*args, **kwargs)

File /databricks/spark/python/pyspark/sql/functions.py:3648, in expr(str)
   3618 @try_remote_functions
   3619 def expr(str: str) -> Column:
   3620     """Parses the expression string into the column that it represents
   3621
   3622     .. versionadded:: 1.5.0
   (...)
   3646     +-----+------------+
   3647     """
-> 3648     return _invoke_function("expr", str)

File /databricks/spark/python/pyspark/sql/functions.py:90, in _invoke_function(name, *args)
     88 assert SparkContext._active_spark_context is not None
     89 jf = _get_jvm_function(name, SparkContext._active_spark_context)
---> 90 return Column(jf(*args))

File /databricks/spark/python/lib/py4j-0.10.9.5-src.zip/py4j/java_gateway.py:1321, in JavaMember.__call__(self, *args)
   1315 command = proto.CALL_COMMAND_NAME +\
   1316     self.command_header +\
   1317     args_command +\
   1318     proto.END_COMMAND_PART
   1320 answer = self.gateway_client.send_command(command)
-> 1321 return_value = get_return_value(
   1322     answer, self.gateway_client, self.target_id, self.name)
   1324 for temp_arg in temp_args:
   1325     temp_arg._detach()

File /databricks/spark/python/pyspark/errors/exceptions.py:234, in capture_sql_exception.<locals>.deco(*a, **kw)
    230 converted = convert_exception(e.java_exception)
    231 if not isinstance(converted, UnknownException):
    232     # Hide where the exception came from that shows a non-Pythonic
    233     # JVM exception message.
--> 234     raise converted from None
    235 else:
    236     raise

ParseException:
[PARSE_SYNTAX_ERROR] Syntax error at or near ',': extra input ','.(line 1, pos 15)

== SQL ==
concat(date ,  ,time )
---------------^^^