In [0]:
from pyspark.sql.types import StructField,StructType,StringType,IntegerType
sample_schema=StructType([
                            StructField('id',IntegerType(),True),
                            StructField('name',StringType(),True),
                            StructField('age',IntegerType(),True),
                            StructField('salary',IntegerType(),True),
                            StructField('address',StringType(),True),
                            StructField('nominee',StringType(),True),
                            StructField('_corrupt_record',StringType(),True)

]


)

In [0]:
df_sample=spark.read.format('csv')\
    .option('header','True')\
    .option('inferschema','False')\
    .schema(sample_schema)\
    .option('mode','permissive')\
    .load('/FileStore/tables/sample_data-1.csv')\

df_sample.show(6)

+---+--------+---+------+------------+--------+--------------------+
| id|    name|age|salary|     address| nominee|     _corrupt_record|
+---+--------+---+------+------------+--------+--------------------+
|  1|  Manish| 26| 75000|       bihar|nominee1|                null|
|  2|  Nikita| 23|100000|uttarpradesh|nominee2|                null|
|  3|  Pritam| 22|150000|   Bangalore|   India|3,Pritam,22,15000...|
|  4|Prantosh| 17|200000|     Kolkata|   India|4,Prantosh,17,200...|
|  5|  Vikash| 31|300000|        null|nominee5|                null|
+---+--------+---+------+------------+--------+--------------------+

In [0]:
from pyspark.sql import *

In [0]:
from pyspark.sql.types import *

In [0]:
df_sample.select('name').show()

+--------+
|    name|
+--------+
|  Manish|
|  Nikita|
|  Pritam|
|Prantosh|
|  Vikash|
+--------+

In [0]:
from pyspark.sql.functions import *
df_sample.select(col('id') +5).show()

+--------+
|(id + 5)|
+--------+
|       6|
|       7|
|       8|
|       9|
|      10|
+--------+

In [0]:
df_sample.select(col('id'),col('name')).show()

+---+--------+
| id|    name|
+---+--------+
|  1|  Manish|
|  2|  Nikita|
|  3|  Pritam|
|  4|Prantosh|
|  5|  Vikash|
+---+--------+

In [0]:
df_sample['id'].show()

---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
File <command-1485788158610723>:1
----> 1 df_sample['id'].show()

TypeError: 'Column' object is not callable

In [0]:
df_sample.columns

---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
File <command-1485788158610724>:1
----> 1 df_sample.columns.show()

AttributeError: 'list' object has no attribute 'show'

In [0]:
df_sample.select(expr ('id+5 as nite'),expr('concat(name," ",address) as together') ).show()

+----+-------------------+
|nite|           together|
+----+-------------------+
|   6|       Manish bihar|
|   7|Nikita uttarpradesh|
|   8|   Pritam Bangalore|
|   9|   Prantosh Kolkata|
|  10|               null|
+----+-------------------+