In [0]:
emp_data = [
(1,'manish',26,20000,'india','IT'),
(2,'rahul',None,40000,'germany','engineering'),
(3,'pawan',12,60000,'india','sales'),
(4,'roshini',44,None,'uk','engineering'),
(5,'raushan',35,70000,'india','sales'),
(6,None,29,200000,'uk','IT'),
(7,'adam',37,65000,'us','IT'),
(8,'chris',16,40000,'us','sales'),
(None,None,None,None,None,None),
(7,'adam',37,65000,'us','IT')
]

In [0]:
myschema=['id','name','age','salary','country','dep']

In [0]:
emp_df=spark.createDataFrame(data=emp_data,schema=myschema)

In [0]:
emp_df.show()

+----+-------+----+------+-------+-----------+
|  id|   name| age|salary|country|        dep|
+----+-------+----+------+-------+-----------+
|   1| manish|  26| 20000|  india|         IT|
|   2|  rahul|null| 40000|germany|engineering|
|   3|  pawan|  12| 60000|  india|      sales|
|   4|roshini|  44|  null|     uk|engineering|
|   5|raushan|  35| 70000|  india|      sales|
|   6|   null|  29|200000|     uk|         IT|
|   7|   adam|  37| 65000|     us|         IT|
|   8|  chris|  16| 40000|     us|      sales|
|null|   null|null|  null|   null|       null|
|   7|   adam|  37| 65000|     us|         IT|
+----+-------+----+------+-------+-----------+

In [0]:
from pyspark.sql.functions import *
from pyspark.sql.types import *

In [0]:
emp_df.withColumn('adult',when(col('age')<18,'no').when(col('age')>18,'yes').otherwise('Novalue')).show()

+----+-------+----+------+-------+-----------+-------+
|  id|   name| age|salary|country|        dep|  adult|
+----+-------+----+------+-------+-----------+-------+
|   1| manish|  26| 20000|  india|         IT|    yes|
|   2|  rahul|null| 40000|germany|engineering|Novalue|
|   3|  pawan|  12| 60000|  india|      sales|     no|
|   4|roshini|  44|  null|     uk|engineering|    yes|
|   5|raushan|  35| 70000|  india|      sales|    yes|
|   6|   null|  29|200000|     uk|         IT|    yes|
|   7|   adam|  37| 65000|     us|         IT|    yes|
|   8|  chris|  16| 40000|     us|      sales|     no|
|null|   null|null|  null|   null|       null|Novalue|
|   7|   adam|  37| 65000|     us|         IT|    yes|
+----+-------+----+------+-------+-----------+-------+

In [0]:
emp_df.withColumn('age',when( col('age').isNull(),lit('19')).otherwise(col('age'))).withColumn('adult',when(col('age')>'18','yes' ).otherwise('no')).show()

+----+-------+---+------+-------+-----------+-----+
|  id|   name|age|salary|country|        dep|adult|
+----+-------+---+------+-------+-----------+-----+
|   1| manish| 26| 20000|  india|         IT|  yes|
|   2|  rahul| 19| 40000|germany|engineering|  yes|
|   3|  pawan| 12| 60000|  india|      sales|   no|
|   4|roshini| 44|  null|     uk|engineering|  yes|
|   5|raushan| 35| 70000|  india|      sales|  yes|
|   6|   null| 29|200000|     uk|         IT|  yes|
|   7|   adam| 37| 65000|     us|         IT|  yes|
|   8|  chris| 16| 40000|     us|      sales|   no|
|null|   null| 19|  null|   null|       null|  yes|
|   7|   adam| 37| 65000|     us|         IT|  yes|
+----+-------+---+------+-------+-----------+-----+

In [0]:
mydata=[(10 ,'Anil',50000, 18),
(11 ,'Vikas',75000,  16),
(12 ,'Nisha',40000,  18),
(13 ,'Nidhi',60000,  17),
(14 ,'Priya',80000,  18),
(15 ,'Mohit',45000,  18),
(16 ,'Rajesh',90000, 10),
(17 ,'Raman',55000, 16),
(18 ,'Sam',65000,   17),
(15 ,'Mohit',45000,  18),
(13 ,'Nidhi',60000,  17),      
(14 ,'Priya',90000,  18),  
(18 ,'Sam',65000,   17)
     ]

In [0]:
myschema=['id','name','sal','mgnr_id)']

In [0]:
manager_df=spark.createDataFrame(data=mydata,schema=myschema)

In [0]:
manager_df.show()

+---+------+-----+--------+
| id|  name|  sal|mgnr_id)|
+---+------+-----+--------+
| 10|  Anil|50000|      18|
| 11| Vikas|75000|      16|
| 12| Nisha|40000|      18|
| 13| Nidhi|60000|      17|
| 14| Priya|80000|      18|
| 15| Mohit|45000|      18|
| 16|Rajesh|90000|      10|
| 17| Raman|55000|      16|
| 18|   Sam|65000|      17|
| 15| Mohit|45000|      18|
| 13| Nidhi|60000|      17|
| 14| Priya|90000|      18|
| 18|   Sam|65000|      17|
+---+------+-----+--------+

In [0]:
manager_df.distinct().show()

+---+------+-----+--------+
| id|  name|  sal|mgnr_id)|
+---+------+-----+--------+
| 10|  Anil|50000|      18|
| 12| Nisha|40000|      18|
| 11| Vikas|75000|      16|
| 13| Nidhi|60000|      17|
| 15| Mohit|45000|      18|
| 14| Priya|80000|      18|
| 16|Rajesh|90000|      10|
| 17| Raman|55000|      16|
| 18|   Sam|65000|      17|
| 14| Priya|90000|      18|
+---+------+-----+--------+

In [0]:
manager_df.distinct().count()

Out[38]: 10

In [0]:
manager_df.count()

Out[39]: 13

In [0]:
manager_df.select(col('id'),col('name')).distinct().show()

+---+------+
| id|  name|
+---+------+
| 10|  Anil|
| 11| Vikas|
| 12| Nisha|
| 13| Nidhi|
| 15| Mohit|
| 14| Priya|
| 17| Raman|
| 16|Rajesh|
| 18|   Sam|
+---+------+

In [0]:
manager_df.drop_duplicates().show()

+---+------+-----+--------+
| id|  name|  sal|mgnr_id)|
+---+------+-----+--------+
| 10|  Anil|50000|      18|
| 12| Nisha|40000|      18|
| 11| Vikas|75000|      16|
| 13| Nidhi|60000|      17|
| 15| Mohit|45000|      18|
| 14| Priya|80000|      18|
| 16|Rajesh|90000|      10|
| 17| Raman|55000|      16|
| 18|   Sam|65000|      17|
| 14| Priya|90000|      18|
+---+------+-----+--------+

In [0]:
manager_df.sort(col('sal').desc(),col('id').desc()).show()

+---+------+-----+--------+
| id|  name|  sal|mgnr_id)|
+---+------+-----+--------+
| 16|Rajesh|90000|      10|
| 14| Priya|90000|      18|
| 14| Priya|80000|      18|
| 11| Vikas|75000|      16|
| 18|   Sam|65000|      17|
| 18|   Sam|65000|      17|
| 13| Nidhi|60000|      17|
| 13| Nidhi|60000|      17|
| 17| Raman|55000|      16|
| 10|  Anil|50000|      18|
| 15| Mohit|45000|      18|
| 15| Mohit|45000|      18|
| 12| Nisha|40000|      18|
+---+------+-----+--------+

In [0]:
leet_code_data = [
    (1, 'Will', None),
    (2, 'Jane', None),
    (3, 'Alex', 2),
    (4, 'Bill', None),
    (5, 'Zack', 1),
    (6, 'Mark', 2)
]

In [0]:
leetcode_schema=['id','name','refree_id']

In [0]:
leetcode_df=spark.createDataFrame(data=leet_code_data,schema=leetcode_schema)

In [0]:
leetcode_df.show()

+---+----+---------+
| id|name|refree_id|
+---+----+---------+
|  1|Will|     null|
|  2|Jane|     null|
|  3|Alex|        2|
|  4|Bill|     null|
|  5|Zack|        1|
|  6|Mark|        2|
+---+----+---------+

In [0]:
leetcode_df.withColumn('refree_id',when(col('refree_id').isNull(),'999').otherwise(col('refree_id'
))).filter(col('refree_id')!=2).select('id','name').show()
# emp_df.withColumn('age',when( col('age').isNull(),lit('19')).otherwise(col('age'))).withColumn('adult',when(col('age')>'18','yes' ).otherwise('no')).show()

# leetcode_df.filter((col('refree_id')!=2) or col('refree_id').isNull()).show()

+---+----+
| id|name|
+---+----+
|  1|Will|
|  2|Jane|
|  4|Bill|
|  5|Zack|
+---+----+

In [0]:

from pyspark.sql.functions import *