In [0]:
data=['ab','bc']

In [0]:
emp_data = [
(1,'manish',26,20000,'india','IT'),
(2,'rahul',None,40000,'germany','engineering'),
(3,'pawan',12,60000,'india','sales'),
(4,'roshini',44,None,'uk','engineering'),
(5,'raushan',35,70000,'india','sales'),
(6,None,29,200000,'uk','IT'),
(7,'adam',37,65000,'us','IT'),
(8,'chris',16,40000,'us','sales'),
(None,None,None,None,None,None),
(7,'adam',37,65000,'us','IT')
]

In [0]:
emp_schema=['id','name','age','salary','country','dept']

In [0]:
emp_df=spark.createDataFrame(data=emp_data,schema=emp_schema)

In [0]:
emp_df.show()

+----+-------+----+------+-------+-----------+
|  id|   name| age|salary|country|       dept|
+----+-------+----+------+-------+-----------+
|   1| manish|  26| 20000|  india|         IT|
|   2|  rahul|null| 40000|germany|engineering|
|   3|  pawan|  12| 60000|  india|      sales|
|   4|roshini|  44|  null|     uk|engineering|
|   5|raushan|  35| 70000|  india|      sales|
|   6|   null|  29|200000|     uk|         IT|
|   7|   adam|  37| 65000|     us|         IT|
|   8|  chris|  16| 40000|     us|      sales|
|null|   null|null|  null|   null|       null|
|   7|   adam|  37| 65000|     us|         IT|
+----+-------+----+------+-------+-----------+

In [0]:
emp_df.count()

Out[6]: 10

In [0]:
emp_df.select(count('*')).show()

+--------+
|count(1)|
+--------+
|      10|
+--------+

In [0]:
from pyspark.sql.types import *
from pyspark.sql.functions import *

In [0]:
emp_df.select(expr ("(sum('salary')/count('salary')"),avg('salary').cast('int').alias('salary')).show()

---------------------------------------------------------------------------
ParseException                            Traceback (most recent call last)
File <command-3869348401319336>:1
----> 1 emp_df.select(expr ("sum('salary').cast('int')/count('salary')"),avg('salary').cast('int').alias('salary')).show()

File /databricks/spark/python/pyspark/sql/utils.py:164, in try_remote_functions.<locals>.wrapped(*args, **kwargs)
    162     return getattr(functions, f.__name__)(*args, **kwargs)
    163 else:
--> 164     return f(*args, **kwargs)

File /databricks/spark/python/pyspark/sql/functions.py:3648, in expr(str)
   3618 @try_remote_functions
   3619 def expr(str: str) -> Column:
   3620     """Parses the expression string into the column that it represents
   3621
   3622     .. versionadded:: 1.5.0
   (...)
   3646     +-----+------------+
   3647     """
-> 3648     return _invoke_function("expr", str)

File /databricks/spark/python/pyspark/sql/functions.py:90, in _invoke_function(name, *args)
     88 assert SparkContext._active_spark_context is not None
     89 jf = _get_jvm_function(name, SparkContext._active_spark_context)
---> 90 return Column(jf(*args))

File /databricks/spark/python/lib/py4j-0.10.9.5-src.zip/py4j/java_gateway.py:1321, in JavaMember.__call__(self, *args)
   1315 command = proto.CALL_COMMAND_NAME +\
   1316     self.command_header +\
   1317     args_command +\
   1318     proto.END_COMMAND_PART
   1320 answer = self.gateway_client.send_command(command)
-> 1321 return_value = get_return_value(
   1322     answer, self.gateway_client, self.target_id, self.name)
   1324 for temp_arg in temp_args:
   1325     temp_arg._detach()

File /databricks/spark/python/pyspark/errors/exceptions.py:234, in capture_sql_exception.<locals>.deco(*a, **kw)
    230 converted = convert_exception(e.java_exception)
    231 if not isinstance(converted, UnknownException):
    232     # Hide where the exception came from that shows a non-Pythonic
    233     # JVM exception message.
--> 234     raise converted from None
    235 else:
    236     raise

ParseException:
[PARSE_SYNTAX_ERROR] Syntax error at or near end of input.(line 1, pos 30)

== SQL ==
(sum('salary')/count('salary')
------------------------------^^^

In [0]:
data=['id','int']

In [0]:
emp_df.show()

+----+-------+----+------+-------+-----------+
|  id|   name| age|salary|country|       dept|
+----+-------+----+------+-------+-----------+
|   1| manish|  26| 20000|  india|         IT|
|   2|  rahul|null| 40000|germany|engineering|
|   3|  pawan|  12| 60000|  india|      sales|
|   4|roshini|  44|  null|     uk|engineering|
|   5|raushan|  35| 70000|  india|      sales|
|   6|   null|  29|200000|     uk|         IT|
|   7|   adam|  37| 65000|     us|         IT|
|   8|  chris|  16| 40000|     us|      sales|
|null|   null|null|  null|   null|       null|
|   7|   adam|  37| 65000|     us|         IT|
+----+-------+----+------+-------+-----------+

In [0]:
emp_df.groupBy('dept','country').agg(sum('salary')).orderBy('dept','country').show()

+-----------+-------+-----------+
|       dept|country|sum(salary)|
+-----------+-------+-----------+
|       null|   null|       null|
|         IT|  india|      20000|
|         IT|     uk|     200000|
|         IT|     us|     130000|
|engineering|germany|      40000|
|engineering|     uk|       null|
|      sales|  india|     130000|
|      sales|     us|      40000|
+-----------+-------+-----------+